*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 100%;
    height: 500px;
    background-color: red;
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px;
     */
     grid-template-rows: 200px 100px 50px 200px ;
     grid-auto-flow: row;
}
 
.child1{
    background-color: rgb(211, 211, 57);
}
.child2{
    background-color: rgb(64, 114, 82);
}
.child3{
    background-color: rgb(144, 144, 27);
}
.child4{
    background-color: rgb(53, 200, 195);
}