.contener1{
background-color: #E28525;
width: 300px;
height: 400px;
}
.contener2{
    background-color: #016972;
width: 300px;
height: 400px;

}

.contener3{
    background-color: #00403F;
width: 300px;
height: 400px;

}
