
.box
{ 
    /* width: 100%; */
   max-width: 500px;
   /* width: 150vw; */
    background-color: rgb(131, 185, 148);
    /* box-sizing: border-box; */
    /* padding: 30px; */
    text-align: center;
    /* margin: 30px; */
}
.box2{
    width: 60vw;
    height: 50vh;
    background-color: blueviolet;
    text-align: center;
    /* padding: 5%; */
    box-sizing: border-box;
}
.para1{
  font-size: large;
 padding: 40px;
 color: white;

}

/* .............em and rem .............  */
.em{
    max-width: 50%;
    background-color: #13cf97;
    /* font-size: 26px; */

}
.em-pra{
    font-size: 2em;
}
.rem{
    background-color: blueviolet;
    max-width: 50%;
    min-height: 15rem;
    border-radius: 15%;
    text-align: center;
    box-sizing: border-box;
    padding: 20%;
}
.par2{
    font-size: 1rem;
    color: aliceblue;
}