.father{
    background-color: rgb(209, 158, 158);
    display:flex ;
    justify-content: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    height: 600px;
    max-width: 100%;
   
    /* flex-direction: column-reverse; */
    align-items: center;
    align-content: center;
    gap: 10px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    /* display: flex; */
    /* padding: 77px/; */
     /* margin-bottom: 6px; */
}
#box1{
    background-color: aqua;
    order: 70;
    /* flex-shrink: 14; */
    /* flex-grow: 10px; */
    /* flex-basis: 500px; es se ham width zida kar sakite ha */
    
}
#box2{
    background-color: rgb(180, 99, 157);
     /* flex-grow: 1px; */
}
#box3{
    background-color: rgb(200, 244, 27);
     /* flex-grow: 1px; */
}
#box4{
    background-color: rgb(40, 192, 136);
     /* flex-grow: 1px; */
}
#box5{
    background-color: rgb(20, 61, 158);
     /* flex-grow: 1px;/ */
}